# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so*
# Virtual Environments
.ven*/
venv/
env/

# Environment Variab*es
.env
*env.*

# Python Packaging
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Next.js
.next/
out/

# Logs
*.log

# Temporary Files
tmp/
temp/